<script lang="ts" setup>
import { ref, onMounted } from 'vue';
import { Actions } from '@/types';

//composables
import useImage from '@/composables/useImage';
import useCanvasZoom from '@/composables/useCanvasZoom';
import useDrawImageInCanvas from '@/composables/useDrawImageInCanvas';
import useTranslateImage from '@/composables/useTranslateImage';
import useDrawInCanvas from '@/composables/useDrawInCanvas';

//Canvas and contexts
const inputCanvas = ref<HTMLCanvasElement | null>(null);
const inputCtx = ref<CanvasRenderingContext2D | null>(null);
const outputCanvas = ref<HTMLCanvasElement | null>(null);
const outputCtx = ref<CanvasRenderingContext2D | null>(null);
const btnGroupModel = ref(Actions.add);

//Image upload
const { imgFile, img, imgEdited, fileToImage } = useImage();
//draw image
const { drawImage, translatePos, startDragOffset, scale } = useDrawImageInCanvas(inputCanvas, inputCtx, outputCanvas, outputCtx, img, imgEdited);
//Draw strokes
const { drawMouseMoveListener, drawMouseDownListener, drawMouseUpListener, drawMouseOverListener, drawMouseOutListener, redrawOnImageTranslated } =
    useDrawInCanvas(inputCtx, outputCtx, btnGroupModel, scale, translatePos);
//Move image around canvas
const {
    translateImageMouseDownListener,
    translateImageMouseUpListener,
    translateImageMouseOverListener,
    translateImageMouseOutListener,
    translateImageMouseMoveListener,
} = useTranslateImage(drawImage, redrawOnImageTranslated, img, startDragOffset, translatePos, scale);
//Zoom canvas
const { zoomInMouseDownListener, zoomInMouseMoveListener, zoomInMouseUpListener, zoomOutMouseDownListener, zoomOutMouseMoveListener, zoomOutMouseUpListener } =
    useCanvasZoom(drawImage,redrawOnImageTranslated,  inputCtx, outputCtx, inputCanvas, outputCanvas, img, translatePos, scale);

onMounted(() => {
    if (!(inputCanvas.value && outputCanvas.value)) return;
    inputCanvas.value.width = innerWidth / 2;
    inputCanvas.value.height = innerHeight;
    inputCtx.value = inputCanvas.value.getContext('2d');

    outputCanvas.value.width = innerWidth / 2;
    outputCanvas.value.height = innerHeight;
    outputCtx.value = outputCanvas.value.getContext('2d');

    if (!(inputCtx.value && outputCtx.value)) return;
    outputCtx.value.imageSmoothingEnabled = false;
    inputCtx.value.imageSmoothingEnabled = false;
});

function newImg2(url: string): Promise<HTMLImageElement> {
    return new Promise((resolve, reject) => {
        const img = new Image();
        img.src = url;
        console.log(url)
        img.onload = () => {
            console.log(url)
            resolve(img)
        };
    })
}


async function fileUpdated(file: any) {
    if (!(file instanceof File && inputCanvas.value)) return;
    const formData = new FormData();
    formData.append('image', file)
    let res;
    try {
        res = await fetch("http://127.0.0.1:8000/remove_background", {
            method: 'POST',
            body: formData
        })
    } catch(err: unknown) {
        console.log(err)
        // return alert('Something went wrong. Please try again.')
    }
   

    imgEdited.value =  await newImg2('data:image/png;base64,' + await res?.json())
    img.value = await fileToImage(file)
    if (!img.value.width) return;
    scale.value = inputCanvas.value.width / img.value.width;
    startDragOffset.value.x = img.value.width / 2;
    startDragOffset.value.y = img.value.height / 2;
    drawImage();
}

function cursorType() {
    if (btnGroupModel.value === Actions.add) return 'cursor-pointer';
    if (btnGroupModel.value === Actions.remove) return 'cursor-wait';
    if (btnGroupModel.value === Actions.erase) return 'cursor-text';
    if (btnGroupModel.value === Actions.move) return 'cursor-cell';
}

function mouseDownListener(event: MouseEvent) {
    const plane = { x: event.clientX, y: event.clientY };
    if (btnGroupModel.value === Actions.add || btnGroupModel.value === Actions.remove || btnGroupModel.value === Actions.erase) {
        drawMouseDownListener(plane);
    } else if (btnGroupModel.value === Actions.move) {
        translateImageMouseDownListener(plane);
    }
}

function mouseUpListener() {
    if (btnGroupModel.value === Actions.add || btnGroupModel.value === Actions.remove || btnGroupModel.value === Actions.erase) {
        drawMouseUpListener();
    } else if (btnGroupModel.value === Actions.move) {
        translateImageMouseUpListener();
    }
}
function mouseMoveListener(event: MouseEvent) {
    const plane = { x: event.clientX, y: event.clientY };
    if (btnGroupModel.value === Actions.add || btnGroupModel.value === Actions.remove || btnGroupModel.value === Actions.erase) {
        drawMouseMoveListener(plane);
    } else if (btnGroupModel.value === Actions.move) {
        translateImageMouseMoveListener(plane);
    }
}
function mouseOverListener() {
    if (btnGroupModel.value === Actions.add || btnGroupModel.value === Actions.remove || btnGroupModel.value === Actions.erase) {
        drawMouseOverListener();
    } else if (btnGroupModel.value === Actions.move) {
        translateImageMouseOverListener();
    }
}
function mouseOutListener() {
    if (btnGroupModel.value === Actions.add || btnGroupModel.value === Actions.remove || btnGroupModel.value === Actions.erase) {
        drawMouseOutListener();
    } else if (btnGroupModel.value === Actions.move) {
        translateImageMouseOutListener();
    }
}
</script>
<template>
    <div class="absolute top-0 left-0 bg-white flex gap-1">
        <q-btn-toggle
            dense
            v-model="btnGroupModel"
            class="h-8 rounded-none"
            :options="[
                { value: Actions.add, slot: 'green' },
                { value: Actions.remove, slot: 'red' },
                { value: Actions.erase, slot: 'erase' },
                { value: Actions.move, slot: 'move' },
            ]"
        >
            <template #green>
                <q-icon name="eva-plus-circle-outline" />
            </template>
            <template #red>
                <q-icon name="eva-minus-outline" />
            </template>
            <template #erase>
                <q-icon name="fas fa-eraser" />
            </template>
            <template #move>
                <q-icon name="eva-move-outline" />
            </template>
        </q-btn-toggle>
        <q-btn
            dense
            @mouseup="zoomInMouseUpListener"
            @mousemove="zoomInMouseMoveListener"
            @mousedown="zoomInMouseDownListener"
            icon="eva-plus-circle-outline"
            color="positive"
            class="h-8 rounded-none"
        ></q-btn>
        <q-btn
            dense
            @mouseup="zoomOutMouseUpListener"
            @mousemove="zoomOutMouseMoveListener"
            @mousedown="zoomOutMouseDownListener"
            icon="eva-minus-outline"
            color="negative"
            class="h-8 rounded-none"
        ></q-btn>
        <q-file @update:modelValue="fileUpdated" filled dense bottom-slots v-model="imgFile" label="Label" class="h-8">
            <template v-slot:prepend>
                <q-icon name="eva-cloud-upload-outline" @click.stop />
            </template>
            <template v-slot:append>
                <q-icon name="eva-close-outline" class="cursor-pointer" />
            </template>
            <!-- <template v-slot:hint> Field hint </template> -->
        </q-file>
    </div>
    <div class="flex svg_bg flex-nowrap overflow-hidden">
        <div :class="`flex-1 h-screen ${cursorType()}`">
            <canvas
                @mousedown="mouseDownListener"
                @mouseup="mouseUpListener"
                @mousemove="mouseMoveListener"
                @mouseover="mouseOverListener"
                @mouseout="mouseOutListener"
                ref="inputCanvas"
            />
        </div>
        <q-separator vertical />
        <div class="flex-1 h-screen">
            <canvas
                @mousedown="translateImageMouseDownListener"
                @mouseup="translateImageMouseUpListener"
                @mousemove="translateImageMouseMoveListener"
                @mouseover="translateImageMouseOverListener"
                @mouseout="translateImageMouseOutListener"
                ref="outputCanvas"
            />
        </div>
    </div>
</template>

<style lang="scss">
.svg_bg {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZmlsbD0iI2RlZGVkZSIgZD0iTTAgMGg4djhIMHpNOCA4aDh2OEg4eiIvPjwvc3ZnPg==);
    background-repeat: repeat;
}
</style>
