<script lang="ts" setup>
defineProps<{model: string}>()
</script>
<template>
    <q-btn-toggle
        v-model="model"
        :options="[
            {value: 'green', slot: 'green'},
            {value: 'red', slot: 'red'},
            {value: 'erase', slot: 'erase'},
            {value: 'move', slot: 'move'}
        ]"
    >
        <template #green>
            </q-icon name="eva-"move-outline />
        </template>
        <template #red>
            </q-icon name="eva-"move-outline />
        </template>
        <template #erase>
            </q-icon name="eva-"move-outline />
        </template>
        <template #move>
            </q-icon name="eva-"move-outline />
        </template>
    </q-btn-toggle>
</template>
